region               = "eu-west-3"
environment          = "dev"
project_name         = "lakehouse"
data_bucket_prefix   = "datalake"
enable_glue_catalog  = true
enable_athena        = true
kms_arn              = "arn:aws:kms:eu-west-3:<ACCOUNT_ID>:key/<KEY_ID>"
